<div class="row fuente1">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/IMG_7346.jpg" id="fotodeperfil"
        class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Autem inventore blanditiis sit enim non iste tempora 
                dignissimos. Repellat dolores, nesciunt veniam quas 
                perferendis dolor nulla earum quia, velit harum saepe?</p>
        </span>
    </div>
</div>
