.row{
    padding: 20px;
}
div{
    background-color: rgb(100, 170, 218);
    text-align: center;
}

@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 10%;
        left: 6%;
    }
}

@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        left: 35%;
        top: 366px;
    }
}

#nombre {
    font-weight: bold;
    margin-top: 30%;
}