<div class="row">
    <h1>Estudios</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Primer estudio</h1> - 
                <h3>años</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                   Cupiditate nostrum, ex saepe ullam aliquid qui tempora suscipit 
                   ea eos odit numquam vitae ad voluptates nulla aperiam deserunt 
                   eligendi sed. Excepturi?</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Segundo estudio</h1> -
                <h3>años</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                   Cupiditate nostrum, ex saepe ullam aliquid qui tempora suscipit 
                   ea eos odit numquam vitae ad voluptates nulla aperiam deserunt 
                   eligendi sed. Excepturi?</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Tercer estudio</h1> -
                <h3>años</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                   Cupiditate nostrum, ex saepe ullam aliquid qui tempora suscipit 
                   ea eos odit numquam vitae ad voluptates nulla aperiam deserunt 
                   eligendi sed. Excepturi?</p>
            </li>
        </ul>
    </div>
</div>