.row{
    background-color: aquamarine;
    padding: 15px;
}
footer{
    color:darkslategrey;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px rgb(109, 109, 109);
}